$primary-color : #ea8787;
// $primary-color : #87ea9d;
$border-color : #ffffff;
$link-color : #ffffff;
$link-hover-color : #ffffff;
$btn-nav-color : rgba(1,1,1,.03);
$btn-nav-hover-color : rgba(1,1,1,.05);